img{
  width: 100%;
}

body{
  background-image: url(./images/bluesky.jpg);
  background-size: cover;
  background-color: lightblue;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

*{
  transition: 3.5s all ease;
}

.bw-character-container{
  width: 868px;
  z-index: 1;
}

.bw-character{
  width: 200px;
  height:200px;
  margin-right: 15px;
  float: left;
  position: relative;
  background-color: white;
}

.bw-rice-grid-position{
  position: absolute;
}

.bw-rice-grid-border{
  border: 1px solid red;
}

.bw-rice-grid--horizontal{
  width: 200px;
  height: 0.5px;
  top: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
}

.bw-rice-grid--vertical{
  width: 0.5px;
  height: 200px;
  left: 50%;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.bw-rice-grid--diagonal{
  width: 282.8px;
  height: 0.5px;
  top: 50%;
  right: -21%;
  border-bottom: 1px dashed red;
}

.bw-rice-grid--diagonal-left{
  transform: rotate(45deg);
}

.bw-rice-grid--diagonal-right{
  transform: rotate(135deg);
}

.bw-character--blue{
}

.bw-character--sky{
}

.bw-character--white{
}

.bw-character--cloud{
}
/* combined position */
.bw-character--stroke{
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

.template{
  opacity: 50%;
  position: absolute;
}

.bw-character--lan-1{
  width: 60%;
  top: 20%;
  left: 21%;
}

.bw-character--lan-2{
  width: 10%;
  top: 15%;
  left: 35%;
}

.bw-character--lan-3{
  width: 9%;
  top: 12%;
  left: 54%;
}

.bw-character--lan-4{
  width: 23%;
  top: 33%;
  left: 27%;
}

.bw-character--lan-5{
  width: 4%;
  top: 35%;
  left: 39%;
}

.bw-character--lan-6{
  width: 18%;
  top: 42%;
  left: 30%;
}

.bw-character--lan-7{
  width: 16%;
  top: 51%;
  left: 31%;
}

.bw-character--lan-8{
  width: 4%;
  top: 52%;
  left: 39%;
}

.bw-character--lan-9{
  width: 25%;
  top: 36%;
  left: 27%;
}

.bw-character--lan-10{
  width: 13%;
  top: 31%;
  right: 36%;
}

.bw-character--lan-11{
  width: 21%;
  top: 39%;
  right: 21%;
}

.bw-character--lan-12{
  width: 11%;
  top: 49%;
  right: 30%;
}

.bw-character--lan-13{
  width: 10%;
  bottom: 16%;
  left: 29%;
}

.bw-character--lan-14{
  width: 39%;
  bottom: 18%;
  left: 31%;
}

.bw-character--lan-15{
  width: 7%;
  bottom: 17%;
  left: 40%;
}

.bw-character--lan-16{
  width: 7%;
  bottom: 17%;
  right: 43%;
}

.bw-character--lan-17{
  width: 69%;
  bottom: 13%;
  left: 16%
}

.bw-character--tian-1{
  width: 37%;
  top: 19%;
  left: 31%
}

.bw-character--tian-2{
  width: 50%;
  top: 38%;
  left: 24%;
}

.bw-character--tian-3{
  width: 35%;
  top: 21%;
  left: 18%;
}

.bw-character--tian-4{
  width: 46%;
  top: 48%;
  left: 46%;
}

.bw-character--bai-1{
  width: 21%;
  top: 15%;
  left: 31%;
}

.bw-character--bai-2{
  width: 11%;
  top: 39%;
  left: 24%;
}

.bw-character--bai-3{
  width: 48%;
  top: 33%;
  left: 28%;
}

.bw-character--bai-4{
  width: 34%;
  top: 49%;
  left: 30%;
}

.bw-character--bai-5{
  width: 37%;
  bottom: 24%;
  left: 32%;
}

.bw-character--yun-1{
  width: 30%;
  top: 13%;
  left: 36%;
}

.bw-character--yun-2{
  width: 6%;
  top: 28%;
  left: 22%;
}

.bw-character--yun-3{
  width: 53%;
  top: 23%;
  left: 24%;
}

.bw-character--yun-4{
  width: 6.5%;
  top: 16%;
  left: 47%;
}

.bw-character--yun-5{
  width: 8%;
  top: 34%;
  left: 35%;
}

.bw-character--yun-6{
  width: 8%;
  top: 42%;
  left: 32%;
}

.bw-character--yun-7{
  width: 8%;
  top: 34%;
  right: 35%;
}

.bw-character--yun-8{
  width: 8%;
  top: 41%;
  right: 35%;
}

.bw-character--yun-9{
  width: 28%;
  top: 50%;
  left: 35%;
}

.bw-character--yun-10{
  width: 48%;
  bottom: 33%;
  left: 25%;
}

.bw-character--yun-11{
  width: 37%;
  bottom: 16%;
  left: 27%;
}

.bw-character--yun-12{
  width: 14%;
  bottom: 15%;
  right: 30%;
}
/* no transition from combined to scattered */
.bw-character--scattered-blue .bw-character--blue * {
  transition: none;
}

.bw-character--scattered-sky .bw-character--sky *{
  transition: none;
}

.bw-character--scattered-white .bw-character--white *{
  transition: none;
}

.bw-character--scattered-cloud .bw-character--cloud *{
  transition: none;
}
/* scattered position */
.bw-character--scattered-blue .bw-character--lan-1{
  transform: translateX(-300px) translateY(250px);
}

.bw-character--scattered-blue .bw-character--lan-2{
  transform: translateX(600px) translateY(250px);
}

.bw-character--scattered-blue .bw-character--lan-3{
  transform: translateX(200px) translateY(-150px);
}

.bw-character--scattered-blue .bw-character--lan-4{
  transform: translateX(-200px) translateY(-200px);
}

.bw-character--scattered-blue .bw-character--lan-5{
  transform: translateX(1050px) translateY(-50px);
}

.bw-character--scattered-blue .bw-character--lan-6{
  transform: translateX(500px) translateY(350px);
}

.bw-character--scattered-blue .bw-character--lan-7{
  transform: translateX(200px) translateY(450px);
}

.bw-character--scattered-blue .bw-character--lan-8{
  transform: translateX(-100px) translateY(-50px);
}

.bw-character--scattered-blue .bw-character--lan-9{
  transform: translateX(600px) translateY(-330px);
}

.bw-character--scattered-blue .bw-character--lan-10{
  transform: translateX(-100px) translateY(350px);
}

.bw-character--scattered-blue .bw-character--lan-11{
  transform: translateX(850px) translateY(-250px);
}

.bw-character--scattered-blue .bw-character--lan-12{
  transform: translateX(-250px) translateY(500px);
}

.bw-character--scattered-blue .bw-character--lan-13{
  transform: translateX(600px) translateY(450px);
}

.bw-character--scattered-blue .bw-character--lan-14{
  transform: translateX(970px) translateY(200px);
}

.bw-character--scattered-blue .bw-character--lan-15{
  transform: translateX(800px) translateY(-200px);
}

.bw-character--scattered-blue .bw-character--lan-16{
  transform: translateX(250px) translateY(100px);
}

.bw-character--scattered-blue .bw-character--lan-17{
  transform: translateX(750px) translateY(330px);
}

.bw-character--scattered-sky .bw-character--tian-1{
  transform: translateX(300px) translateY(-100px);
}

.bw-character--scattered-sky .bw-character--tian-2{
  transform: translateX(-300px) translateY(500px);
}

.bw-character--scattered-sky .bw-character--tian-3{
  transform: translateX(870px) translateY(100px);
}

.bw-character--scattered-sky .bw-character--tian-4{
  transform: translateX(-600px) translateY(-150px);
}

.bw-character--scattered-white .bw-character--bai-1{
  transform: translateX(600px) translateY(500px);
}

.bw-character--scattered-white .bw-character--bai-2{
  transform: translateX(-700px) translateY(350px);
}

.bw-character--scattered-white .bw-character--bai-3{
  transform: translateX(-320px) translateY(280px);
}

.bw-character--scattered-white .bw-character--bai-4{
  transform: translateX(-400px) translateY(-300px);
}

.bw-character--scattered-white .bw-character--bai-5{
  transform: translateX(450px) translateY(-100px);
}

.bw-character--scattered-cloud .bw-character--yun-1{
  transform: translateX(-700px) translateY(200px);
}

.bw-character--scattered-cloud .bw-character--yun-2{
  transform: translateX(-850px) translateY(50px);
}

.bw-character--scattered-cloud .bw-character--yun-3{
  transform: translateX(-350px) translateY(-200px);
}

.bw-character--scattered-cloud .bw-character--yun-4{
  transform: translateX(100px) translateY(300px);
}

.bw-character--scattered-cloud .bw-character--yun-5{
  transform: translateX(-1000px) translateY(500px);
}

.bw-character--scattered-cloud .bw-character--yun-6{
  transform: translateX(450px) translateY(-200px);
}

.bw-character--scattered-cloud .bw-character--yun-7{
  transform: translateX(-50px) translateY(400px);
}

.bw-character--scattered-cloud .bw-character--yun-8{
  transform: translateX(-700px) translateY(-250px);
}

.bw-character--scattered-cloud .bw-character--yun-9{
  transform: translateX(-350px) translateY(300px);
}

.bw-character--scattered-cloud .bw-character--yun-10{
  transform: translateX(-150px) translateY(100px);
}

.bw-character--scattered-cloud .bw-character--yun-11{
  transform: translateX(-300px) translateY(400px);
}

.bw-character--scattered-cloud .bw-character--yun-12{
  transform: translateX(-1000px) translateY(-350px);
}

@media only screen and (max-width:600px) {
  .bw-character{
    width: ;
    height: ;
  }
}
